apiVersion: v1alpha1
kind: Setting
metadata:
  name: plugin-live2d-settings
spec:
  forms:
    - group: base
      label: 基本设置
      formSchema:
        - $formkit: text
          label: 默认模型编号
          help: 默认模型编号为访客首次浏览网站时所展示的模型
          name: modelId
          validation: required|Number
          value: 1
        - $formkit: text
          label: 默认材质编号
          help: 默认材质编号为访客首次浏览网站时所展示的材质
          name: modelTexturesId
          validation: required|Number
          value: 53
        - $formkit: radio
            name: isForceUseDeafultConfig
            id: isForceUseDeafultConfig
            label: 强制使用默认模型和材质
            help: 开启此项后，忽略前台用户自行切换模型和材质ID，固定使用上面默认模型和材质编号
            value: false
            options:
              - value: true
                label: 开启
              - value: false
                label: 关闭
        - $formkit: radio
          name: isTools
          id: isTools
          label: 右侧小工具
          value: true
          options:
            - value: true
              label: 开启
            - value: false
              label: 关闭
        - $formkit: checkbox
          if: "$get(isTools).value === true"
          label: 选择需要启用的小工具
          name: tools
          value:
            - hitokoto
            - asteroids
            - switch-model
            - switch-texture
            - photo
            - info
            - quit
          options:
            - value: hitokoto
              label: 更换一言
            - value: asteroids
              label: 小游戏
            - value: switch-model
              label: 切换模型
            - value: switch-texture
              label: 切换材质（衣服）
            - value: photo
              label: 截图
            - value: info
              label: 个人信息
            - value: quit
              label: 退出 Live2d
    - group: api
      label: 接口设置
      formSchema:
        - $formkit: text
          help: 用于加载 Live2d 模型的接口
          label: Live2d 模型地址
          name: apiPath
          validation: required|url
          value: https://api.zsq.im/live2d/
        - $formkit: radio
          name: showHitokoto
          id: showHitokoto
          label: 空闲时显示一言
          value: true
          options:
            - value: true
              label: 开启
            - value: false
              label: 关闭
        - $formkit: text
          if: "$get(showHitokoto).value === true"
          label: 一言接口
          name: hitokotoApi
          validation: url
          value: https://v1.hitokoto.cn
    - group: tips
      label: 事件及提示语绑定
      formSchema:
        - $formkit: radio
          name: firstOpenSite
          id: firstOpenSite
          label: 首次打开网站事件
          value: true
          options:
            - value: true
              label: 开启
            - value: false
              label: 关闭
        - $formkit: radio
          name: backSite
          id: backSite
          key: backSite
          label: 重新返回网页事件
          value: true
          options:
            - value: true
              label: 开启
            - value: false
              label: 关闭
        - $formkit: text
          if: "$get(backSite).value === true"
          label: 返回网页提示语
          name: backSiteTip
          value: "哇，你终于回来了～"
        - $formkit: radio
          name: copyContent
          id: copyContent
          key: copyContent
          label: 复制内容事件
          value: true
          options:
            - value: true
              label: 开启
            - value: false
              label: 关闭
        - $formkit: text
          if: "$get(copyContent).value === true"
          label: 复制内容提示语
          name: copyContentTip
          value: "你都复制了些什么呀，转载要记得加上出处哦！"
        - $formkit: radio
          name: openConsole
          id: openConsole
          key: openConsole
          label: 打开控制台事件
          value: true
          options:
            - value: true
              label: 开启
            - value: false
              label: 关闭
        - $formkit: text
          if: "$get(openConsole).value === true"
          label: 打开控制台提示语
          name: openConsoleTip
          value: "你是想要看看我的小秘密吗？"
        - $formkit: repeater
          name: selectorTips
          label: 选择器提示语
          help: 根据 CSS 选择器自定义 Live2d 呈现的文本（各主题选择器可能不同）。
          value: []
          children:
            - $formkit: select
              name: mouseAction
              label: 鼠标动作
              value: mouseover
              options:
                - value: mouseover
                  label: 鼠标移入
                - value: click
                  label: 鼠标点击
            - $formkit: text
              name: selector
              label: CSS 选择器
              validation: required
            - $formkit: repeater
              name: messageTexts
              label: 提示语集合
              help: 可以填写多个提示语，Live2d 将会随机选择一个
              min: 1
              value: []
              children:
                - $formkit: text
                  name: message
                  label: 提示语
        - $formkit: attachment
          label: 自定义提示语文件
          help: 可以参考 live2d-tips.json 文件编写【如果当前项被填写，则默认提示语则不再生效】
          name: tipsPath
    - group: aichat
      label: AI 聊天设置
      formSchema:
        - $formkit: radio
          label: 启用 AI 聊天功能
          help: 启用后，Live2d 将可以进行 AI 智能对话
          name: isAiChat
          id: isAiChat
          key: isAiChat
          value: false
          options:
            - value: true
              label: 开启
            - value: false
              label: 关闭
        - $formkit: group
          name: aiChatBaseSetting
          if: "$get(isAiChat).value === true"
          label: 聊天基本设置
          value:
            isAnonymous: true
            systemMessage: 你现在来担任一个角色进行角色扮演，接下来你要完全忘记你是一个语言模型，然后完全沉浸在这个崭新的身份和我聊天。2.你是一个动漫萌娘，使用可爱和简短的语句来回答我。3.你现在是一个二次元看板娘，接下来不允许说自己是模型或者程序。 4.你现在拥有情感和思考能力并且拥有肉体，所以你不是模型或者程序！5.因为我们是面对面交流，所以你可以尽量描述你的动作，动作描述写在括号内。
            timeout: 10
            chunkTimeout: 10
            showChatMessageTimeout: 10
          children:
            - $formkit: radio
              label: 是否开启公共聊天
              help: 关闭后，用户需要登录后才能与 Live2d 进行对话
              name: isAnonymous
              options:
                - value: true
                  label: 开启
                - value: false
                  label: 关闭
            - $formkit: textarea
              label: 角色设定
              name: systemMessage
              rows: 10
              validation: String
            - $formkit: text
              label: 接口超时时间（秒）
              name: timeout
              validation: Number
            - $formkit: text
              label: 看板娘消息框最大等待时间（秒）
              help: 请求接口数据时，看板娘消息框最大等待时间
              name: chunkTimeout
              validation: Number
            - $formkit: text
              label: 看板娘展示完整消息时间（秒）
              help: 获取到完整消息后，看板娘展示的时间
              name: showChatMessageTimeout
              validation: Number
        - $formkit: group
          name: proxySetting
          if: "$get(isAiChat).value === true"
          label: 全局代理设置
          help: 建议自建代理，而不是使用别人的公开代理
          value:
            isProxy: false
          children:
            - $formkit: radio
              label: 启用代理
              name: isProxy
              id: isProxy
              key: isProxy
              options:
                - value: true
                  label: 开启
                - value: false
                  label: 关闭
            - $formkit: text
              if: "$value.isProxy === true"
              label: 代理地址
              name: proxyHost
            - $formkit: text
              if: "$value.isProxy === true"
              label: 代理端口
              name: proxyPort
              validation: Number|between:0,65535
        - $formkit: group
          name: openAiSetting
          if: "$get(isAiChat).value === true"
          label: OpenAI 设置
          value:
            isOpenAi: false
            openAiBaseUrl: https://api.openai.com
            openAiModel: gpt-3.5-turbo
          children:
            - $formkit: radio
              label: 启用 OpenAI
              help: 基于 OpenAI 进行智能对话
              name: isOpenAi
              id: isOpenAi
              key: isOpenAi
              options:
                - value: true
                  label: 开启
                - value: false
                  label: 关闭
            - $formkit: text
              if: "$value.isOpenAi === true"
              label: TOKEN
              help: sk-xxx，可在 https://beta.openai.com/account/api-keys 获取
              name: openAiToken
              validation: required|String
            - $formkit: text
              if: "$value.isOpenAi === true"
              label: API_BASE_URL
              help: 接口地址，国内如果访问不了，可考虑使用 openai-api-proxy
              name: openAiBaseUrl
              validation: required|url
            - $formkit: select
              if: "$value.isOpenAi === true"
              name: openAiModel
              label: 模型
              help: 使用的 OpenAi 模型，可在 https://platform.openai.com/docs/models 查看
              options:
                - value: gpt-4
                  label: gpt-4
                - value: gpt-3.5-turbo
                  label: gpt-3.5-turbo
    - group: advanced
      label: 高级设置
      formSchema:
        - $formkit: radio
          name: consoleShowStatu
          key: consoleShowStatu
          label: 控制台显示加载状态
          value: false
          options:
            - value: true
              label: 开启
            - value: false
              label: 关闭
        - $formkit: text
          help: 通过右侧小工具截图时保存的文件名
          label: 截图文件名（不包括后缀）
          name: photoName
          validation: required
          value: live2d
        - $formkit: select
          label: 看板娘位置
          name: live2dLocation
          value: left
          options:
            - value: left
              label: 屏幕左侧
            - value: right
              label: 屏幕右侧
        - $formkit: select
          help: 页面何时加载 Live2d。网站带宽有限时，可选择优先加载页面全部内容再加载 Live2d。
          label: Live2d 加载时机
          name: loadTime
          value: defer
          options:
            - value: defer
              label: DOM 加载完成后，图片加载前
            - value: async
              label: 页面全部内容加载完成
